$dark-teal: #52a7a5;
$teal: #60c0bd;
$light-teal: #a0d7e5;
$lightest-teal: #d2ecfa;

$pink: #eb6d80;
$medium-pink: #f09ba5;
$light-pink: #f3b1b9;
$lighter-pink: #f6c7ce;

$foggy: #767676;
$dark-foggy: #484848;
$light-gray: #d3d3d3;
