.categories-dropdown {
  position: absolute;

  .categories-list-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 1;

    ul {
      box-sizing: border-box;
      background: #fff;
      border: 1.5px solid #ddd;
      box-shadow: 0 3px 4px rgba(27, 31, 35, 0.3);
      position: absolute;
      list-style: none;
      width: 21.8vw;
      height: 33vh;
      overflow: auto;
      z-index: 2;
    }

    li {
      padding: 10px 0 10px 15px;
      position: relative;
    }

    li:hover {
      cursor: pointer;
      background: $lighter-pink;
    }
  }
}

.subcategories-list-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 1;
  top: 0;

  ul {
    box-sizing: border-box;
    background: #fff;
    border: 1.5px solid #ddd;
    border-left: 0 !important;
    box-shadow: 0 3px 4px rgba(27, 31, 35, 0.3);
    position: absolute;
    list-style: none;
    left: calc(21.77vw + 1px);
    width: calc(21.8vw - 1px);
    min-height: 0;
    overflow: auto;
    z-index: 3;
  }

  li {
    padding: 10px 0 10px 15px;
  }

  li:hover {
    cursor: pointer;
    background: $lighter-pink;
  }
}
