.home-main-container {
  padding-top: 80px;
  margin: 0 17vw;

  #home-title {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $teal;

    #home-title-2 {
      color: black;
      padding-left: 10px;
    }
  }
}

.slider-body {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-y: visible;
  margin-top: 100px;
}

.slider-main {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
