* {
  min-height: 0;
  min-width: 0;
}

.featured-div, .category-one-div, .category-two-div,
.category-three-div, .keeped-posts-div, .keeped-users-div {
  margin-bottom: 40px;
}

.featured-title, .category-one-title, .category-two-title,
.category-three-title, .keeped-posts-title, .keeped-users-title {
  font-size: 18px;
  color: $foggy;
  margin-bottom: 25px;
}

.featured-slider, .category-one-slider, .category-two-slider,
.category-three-slider, .keeped-posts-slider, .keeped-users-slider {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slick-slide {
  box-sizing: border-box;
  width: 150px;
  height: 400px;
  padding-left: 15px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.slick-arrow {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  color: $foggy;
  z-index: 1;
  top: calc(50% - 15px);
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}
