.main-navbar-container {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: white;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #ddd;

  .nav-left, .nav-right {
    display: flex;
    flex-direction: row;

    img#logo {
      height: 28px;
      padding: 0 24px;
    }

    .active {
      border-bottom: 3px solid $pink;
      margin-top: 16px;
      padding-top: 13px;
      padding-bottom: 22px;
    }

    ul {
      display: flex;

      li {
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 16px;
        padding-top: 13px;
        padding-bottom: 24px;
        margin-right: 35px;
      }

      li:hover {
        cursor: pointer;
        border-bottom: 3px solid $pink;
        margin-top: 16px;
        padding-top: 13px;
        padding-bottom: 22px;
      }
    }
  }

  .nav-right {
    padding-right: 15px;

    img#profile-pic {
      width: 30px;
      padding: 2px 20px 0 10px;
    }

    img#profile-pic:hover {
      cursor: pointer;
    }
  }
}
