// Splash page
@media screen and (max-width: 1120px) {
  #splash-img {
    display: none !important;
  }

  #splash-logo {
    display: none !important;
  }

  .login-box {
    top: calc(50% - 220px) !important;
    left: calc(50% - 185px) !important;
  }
}

@media screen and (max-height: 500px) {
  #splash-logo {
    display: none !important;
  }
}

// Home page
@media screen and (min-width: 850px) {
  .responsive-search-container {
    display: none !important;
  }
}

@media screen and (max-width: 1033px) {
  .home-main-container {
    margin: 0 10vw !important;
  }
}

@media screen and (max-width: 850px) {
  .search-bar-container {
    box-shadow: none;
  }

  .search-bar-section {
    display: none !important;
  }

  .responsive-search-container {
    display: flex !important;
  }
}

@media screen and (max-width: 450px) {
  #home-title-2 {
    display: none !important;
  }
}

@media screen and (max-width: 270px) {
  .responsive-search-container {
    display: none !important;
  }
}
