.login-box {
  display: flex;
  position: absolute;
  width: 370px;
  height: 440px;
  top: 8vh;
  right: 5vw;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);

  .login-box-inputs {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 5px;
    padding-top: 30px;
    text-align: center;

    h1 {
      font-size: 28px;
      color: $teal;
      padding-bottom: 10px;
    }

    #login-logo {
      padding-left: 5px;
      width: 35px;
    }

    .divide-line {
      width: 50px;
      border-bottom: 3px solid $teal;
      padding-bottom: 10px;
      margin: 0 auto;
    }

    .errors-container {
      height: 40px;

      .errors {
        font-size: 12px;
        padding-bottom: 5px;
        line-height: 1.5em;
        color: $pink;
      }
    }

    .signup-div {

      .signup-name-div {
        display: flex;
        flex-direction: row;

        .signup-input-field {
          font-size: 15px;
          height: 30px;
          width: 115px;
          margin-bottom: 10px;
          padding-left: 5px;
        }

        .left {
          margin-right: 10px;
        }
      }

      .signup-input-field {
        font-size: 15px;
        height: 30px;
        width: 250px;
        margin-bottom: 10px;
        padding-left: 5px;
      }
    }

    .login-input-field {
      font-size: 15px;
      height: 30px;
      width: 250px;
      margin-bottom: 10px;
      padding-left: 5px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      margin: 10px 0;

      #sign-up-log-in-button, #demo-button {
        background-color: $pink;
        width: 120px;
        height: 30px;
        margin: 0 10px;
        color: white;
        box-shadow: 1px 1px 1px $dark-foggy;
      }

      #sign-up-log-in-button:hover, #demo-button:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }

    #question-login {
      margin-top: 10px;
      margin-bottom: 3px;
      font-size: 13px;
    }

    #status-toggle {
      background-color: rgba(0, 0, 0, 0);
      font-size: 13px;
      cursor: pointer;
      color: $teal;
      padding: 5px 0;
      margin: 2px 7px;
    }

    #status-toggle:hover {
      color: $teal;
      text-decoration: underline;
    }
  }
}
