#splash-img {
  margin-left: -100px;
  position: fixed;
  width: 100%;
  height: 100%;
}

#splash-logo {
  position: absolute;
  top: 11vh;
  left: 6vw;
  font-size: 50px;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

#splash-title {
  padding-top: 10px;
  color: $teal;
}
