.user-location-main {

  p {
    padding-top: 20px;
    text-align: center;
    color: gray;
  }

  p:hover {
    cursor: pointer;
    color: $light-pink;
  }
}

.maps-modal {
  position: fixed;
  top: calc(50% - 25vh);
  left: calc(50% - 35vw);
  width: 70vw;
  height: 50vh;
  border: 3px solid $dark-foggy;
  border-radius: 15px;
  background-color: $light-gray;
}

#google-map {
  box-sizing: border-box;
  width: calc(70vw - 1px);
  height: calc(50vh - 1px);
  border-radius: 15px;
}
