.user-location-main {
  display: flex;
  justify-content: center;

  p {
    padding-top: 20px;
    color: gray;
  }

  p:hover {
    cursor: pointer;
    color: $light-pink;
  }
}

.maps-modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.maps-modal {
  position: fixed;
  top: calc(50% - 35vh);
  left: calc(50% - 35vw);
  width: 70vw;
  height: 70vh;
  border: 1px solid $dark-foggy;
  border-radius: 10px;

  .map-container {

    #pac-input {
      margin-top: 9px;
      margin-left: 10px;
      padding-left: 10px;
      width: 35vw;
      height: 25px;
      min-width: 220px !important;
    }

    #pac-button {
      background: $pink;
      color: white;
      margin-top: 9.5px;
      margin-left: 10px;
      padding: 0 10px;
      width: 80px;
      height: 30.5px;
    }

    #pac-button:hover {
      background: $medium-pink;
      cursor: pointer;
      opacity: 0.9;
    }

    #google-map {
      box-sizing: border-box;
      width: calc(70vw - 1px);
      height: calc(70vh - 1px);
      border-radius: 10px;

      min-width: 460px !important;
    }
  }
}


.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
