.user-location-main {

  p {
    padding-top: 20px;
    text-align: center;
    color: gray;
  }

  p:hover {
    cursor: pointer;
    color: $light-pink;
  }
}

.maps-modal {
  position: fixed;
  top: calc(50% - 25vh);
  left: calc(50% - 35vw);
  width: 70vw;
  height: 50vh;
  border: 1px solid black;
  border-radius: 15px;
  background-color: $light-gray;
  box-shadow: 5px 5px gray;
}

#google-map {
  width: 70vw;
  height: 50vh;
  border-radius: 15px;
}
