<!DOCTYPE html>
<html>
  <head>
    <title>Trendee</title>
    <link rel="icon" type="image/gif/png" href="http://res.cloudinary.com/rlee0525/image/upload/v1490141940/Logomakr_7jxFyN_cvh1qx.png">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Open+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
